/*basico*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: black;
    min-height: auto;
}

/*header*/
header{
    background-color: rgb(97, 91, 194);
    margin: 10px 10px 0px 10px;
    padding: 10px 0;
    text-align: center;
}

.txt_1{
    color: rgb(8, 8, 12) ;
   font-size: 35px;
}

#logo{
    height: 35px;
    width: 35px;
    margin:10px 0 0 0;
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px
}

header nav ul a{
    color: white;
    text-decoration: none
    
}

header nav a:hover{
    color: rgb(139, 29, 34)
}

/*Jumbolt*/
.jumbolt{
    margin: 10px;
    padding: 10px 10px 15px 10px;
    text-align: center;
    background-color: rgb(123, 26, 214);
    min-height: 200px;
}

#display_tcg{
    width: 900px;
    height:auto;
    display: inline-block;
    min-height: auto;
}

/*Main*/
main{
   margin: 0;
   padding: 0;
}


.catalogo{
    margin: 0 10px 0 10px;
    background-color: rgb(97, 91, 194); 
           
}

.txt_catalogo{
    color: rgb(8, 8, 12);
}

.productos{
    display:flex;
    flex-direction: row;
    gap: 45px;
    color: rgb(8, 8, 12) ;          
}

/*@media(min-width: 320px){
    .productos{
        display: flex;
        flex-direction: column;
    }*/
}


main section div article:hover{
    color: rgb(139, 29, 34) ;
}

#etb_p{
    width: 300px;
    height: 300px;
    padding: 10px 0 0 15px;
}

#box_yugi{
    width: 400px;
    height: 300px;
    padding: 10px 0 0 0;
}

#magic{
    width: 400px;
    height: 300px;
    padding: 10px 0 0 0;
}

/*Formulario*/
 
section{
    background-color:rgb(123, 26, 214) ;
    margin: 10px 10px 10px 10px;
}
.txt_reg{
    text-align: center;
}

.formulario{
    background-color: rgb(97, 91, 194);
    padding: 20px;
    border-radius: 10px;
    border-right-style: double;
    border-top-style: double;
    border-bottom-style: double;
    border-left-style: double;
    margin: 10px 450px 20px 450px;
    text-align: justify;  
}

.base{
    display: grid;
    gap: 5px;
    list-style: none;
    
}

.base label{
    display: flex;
    flex-direction: row;
    font-weight: bold;   
}

.base input{
    padding: 5px;
}

.base button{
    background-color:aqua  ;
    border-radius: 3.5px;
    padding: 5px;
    cursor: pointer;
}

/*Footer*/

footer{
    background-color:  rgb(97, 91, 194) ;
    margin: 0 10px 10px 10px;
    padding: 10px;
    text-align: center;
}

/*Media queris*/

@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 700px) {
	
}

@media screen and (max-width: 600px) {
