/*basico*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: black;
    min-height: auto;
}

/*header*/
header{
    background-color: rgb(97, 91, 194);
    margin: 10px 10px 0px 10px;
    padding: 10px 0;
    text-align: center;
}

.txt_1{
    color: rgb(8, 8, 12) ;
   font-size: 35px;
}

#logo{
    height: 35px;
    width: 35px;
    margin:10px 0 0 0;
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px
}

header nav ul a{
    color: white;
    text-decoration: none
    
}

header nav a:hover{
    color: rgb(139, 29, 34)
}

/*Jumbolt*/
.jumbolt{
    margin: 10px;
    padding: 10px 10px 15px 10px;
    text-align: center;
    background-color: rgb(123, 26, 214);
    min-height: 200px;
}

#display_tcg{
    width: 900px;
    height:auto;
    display: inline-block;
    min-height: auto;
}

/*Main*/
main{
   margin: 0;
   padding: 0;
}


.catalogo{
    margin: 0 10px 0 10px;
    background-color: rgb(97, 91, 194); 
           
}

.txt_catalogo{
    color: rgb(8, 8, 12);
}

.productos{
    display:flex;
    flex-direction: row;
    gap: 25px;
    color: rgb(8, 8, 12) ;          
}

main section div article:hover{
    color: rgb(139, 29, 34) ;
}

#etb_p{
    width: auto;
    height: auto;
    padding: 10px 0 0 15px;
}

#box_yugi{
    width: auto;
    height:auto;
    padding: 10px 0 0 0;
}

#magic{
    width: auto;
    height: auto;
    padding: 10px 15px 0 0;
}

/*Formulario*/
 
section{
    background-color:rgb(123, 26, 214) ;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
   

}
.txt_reg{
    text-align: center;
}

.formulario{
    background-color: rgb(97, 91, 194);
    margin-left: auto;
    margin-right:auto;
    padding:auto;
    border-radius: 10px;
    border-right-style: double;
    border-top-style: double;
    border-bottom-style: double;
    border-left-style: double;
    text-align: justify;  
}

.base{
    display: grid;
    gap: 5px;
    list-style: none;
    
}

.base label{
    display: flex;
    flex-direction: row;
    font-weight: bold;  
    width: auto; 
}

.base input{
    padding: auto;
}

.base button{
    background-color:aqua  ;
    border-radius: 3.5px;
    padding: 5px;
    cursor: pointer;
}

/*Redes y politicas */

.condiciones{
    background-color: rgb(97, 91, 194);
    display: flex;
    flex-direction: row;
}
.politicas{
    margin: auto;
    padding: auto;
}
.lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px
}
section div ul li{
    color: white;
    text-decoration: none
}

section div ul li:hover{
    color: rgb(139, 29, 34)
}

.redes{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto;
}

.redes-lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#fb{
    height: 40px;
    width: 40px;
}

#ig{
    height: 40px;
    width: 40px;
}
#tw{
    height: 40px;
    width: 40px;
}

    /*Footer*/

footer{
    background-color:  rgb(123, 26, 214) ;
    margin: 0 10px 2px 10px;
    padding: 10px;
    text-align: center;
}

/*Media queris*/
.responsive-img {
    max-width: 100%; 
    height: auto;    
}  
  /* Media query para pantallas pequeñas */
  @media (max-width: 600px) {
    .responsive-img {
      width: 80%; 
    }
  }
  
  /* Media query para pantallas medianas */
  @media (min-width: 601px) and (max-width: 1024px) {
    .responsive-img {
      width: 50%; 
    }
  }
  
  /* Media query para pantallas grandes */
  @media (min-width: 1025px) {
    .responsive-img {
      width: 30%; 
}
}
